[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/paulstefanradu
[access "refs/for/refs/*"]
	read = group user/paulstefanradu
	push = group user/paulstefanradu
	label-Code-Review = -2..+2 group user/paulstefanradu
	label-Verified = -1..+1 group user/paulstefanradu
	rebase = group user/paulstefanradu
	removeReviewer = group user/paulstefanradu
	submit = group user/paulstefanradu
[access "refs/heads/*"]
	read = group user/paulstefanradu
	create = group user/paulstefanradu
	push = +force group user/paulstefanradu
	pushMerge = group user/paulstefanradu
[access "refs/tags/*"]
	push = group user/paulstefanradu
	push = +force group user/paulstefanradu
